.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.categories-content {
	padding: 0.8rem 1rem;

	display: grid;
	grid-template-columns: repeat(10, 1fr);

	.category-button {
		height: 5.2rem;
		border: 1px solid #f3f3f3;
		border-radius: 4px;
		background-color: var(--gray-light);

		color: var(--gray);
		font-size: 0.8rem;

		cursor: pointer;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		img {
			margin-bottom: 0.4rem;
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

.order-content {
	display: flex;
	align-items: center;
	margin: 0.8rem 0 1.6rem 0;

	p {
		font-weight: bold;
		margin-right: 1rem;
		font-size: 0.9rem;
	}

	select {
		padding: 0.2rem 0.4rem;
		width: 10.5rem;
		border: 1px solid var(--gray);
		cursor: pointer;
	}
}

.services-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem 1.4rem;
	padding: 0 2rem;

	padding-bottom: 2.4rem;
}

@media (max-width: 1200px) {
	.order-content {
		padding-left: 1rem;
	}

	.services-content {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 960px) {
	.categories-content {
		grid-template-columns: repeat(8, 1fr);
	}
}

@media (max-width: 786px) {
	.categories-content {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media (max-width: 720px) {
	.services-content {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 580px) {
	.categories-content {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 480px) {
	.services-content {
		grid-template-columns: repeat(1, 1fr);
	}
}
